<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security"
        android:supportsRtl="true"
        android:theme="@style/Theme.Toolbox"
        android:usesCleartextTraffic="true">

<!--        <activity-->
<!--            android:exported="false"-->
<!--            android:launchMode="singleTop"-->
<!--            android:windowSoftInputMode="adjustResize"-->
<!--            android:name=".tools.timer.AddTimerActivity">-->

<!--            <meta-data-->
<!--                android:name="android.app.shortcuts"-->
<!--                android:resource="@xml/shortcuts" />-->
<!--        </activity>-->

        <activity
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:name=".SettingsActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.android.intent.action.SET_TIMER" />
            </intent-filter>
        </activity>

        <service
            android:name=".tools.stopwatch.StopwatchService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <service
            android:name=".tools.timer.TimerService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name=".tools.stopwatch.widget.StopwatchWidget"
            android:icon="@drawable/stopwatch_icon"
            android:label="@string/item_stopwatch"
            android:exported="true">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.eightbitcloud.example.widget.ACTION_WIDGET_RECEIVER" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stopwatch_widget_info" />
        </receiver>

        <receiver
            android:name=".tools.randnumgen.widget.RandNumGenWidget"
            android:icon="@drawable/rng_icon"
            android:label="@string/item_rng"
            android:exported="true">

            <intent-filter>
                <action android:name="toolbox.rng.widget.generateNumber" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.eightbitcloud.example.widget.ACTION_WIDGET_RECEIVER" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/rng_widget_info" />
        </receiver>

        <!--        <receiver-->
        <!--            android:name=".tools.notepad.widget.NotepadWidget"-->
        <!--            android:icon="@drawable/notepad_icon"-->
        <!--            android:label="@string/item_notepad"-->
        <!--            android:exported="true">-->

        <!--            <intent-filter>-->
        <!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>-->
        <!--                <action android:name="com.eightbitcloud.example.widget.ACTION_WIDGET_RECEIVER" />-->
        <!--            </intent-filter>-->

        <!--            <meta-data-->
        <!--                android:name="android.appwidget.provider"-->
        <!--                android:resource="@xml/notepad_widget_info" />-->
        <!--        </receiver>-->
    </application>
</manifest>